
<app-header-log/>
<section>

  <div id="first"> <!-- essa div é pra colocar as imagens de fundo que são 2-->

    <div id="images"> <!-- essa div guarda as imagens de fundo-->
      <img id="fi" src="assets/Images/Direito-Criminal-800x400.jpg"  height="93%">
      <img id="se" src="assets/Images/justica-706x410_0.jpg"  height="93%">
    </div>

    <div id="second"> <!-- essa div é para a parte do meio em cor normal-->

      <h1 style="margin: 30px;">Bem - Vindo : Usuario</h1>
      <div class="btns-container"> <!-- essa div guarda os botões iniciais-->
        <div id="content-box">
          <div routerLink="/agendar" class="btns">
            <img src="assets/icons/meeting_4029413.png" width="70px"><p>Agendar Uma Reunião</p>
          </div>
          <div class="btns">
            <img src="assets/icons/message_4129700.png" width="70px"><p>Mensagens</p>
          </div>
          <div class="btns">
            <img src="assets/icons/hourglass_4992427.png" width="70px"><p>Andamento de Processos</p>
          </div>
          <div class="btns">
            <img src="assets/icons/text_2878671.png" width="70px"><p>Histórico de Processos</p>
          </div>

          <div class="btns">
            <img src="assets/icons/meeting_4029413.png" width="70px"><p>Agendar Uma Reunião</p>
          </div>
          <div class="btns">
            <img src="assets/icons/message_4129700.png" width="70px"><p>Mensagens</p>
          </div>
          <div class="btns">
            <img src="assets/icons/hourglass_4992427.png" width="70px"><p>Andamento de Processos</p>
          </div>
          <div class="btns">
            <img src="assets/icons/text_2878671.png" width="70px"><p>Histórico de Processos</p>
          </div>
        </div>

      </div>
      <!-- Fim da div second-->
    </div><!-- Fim da div second-->
    <!-- Fim da div First-->
  </div><!-- Fim da div First-->


</section>
