<section>
  <div routerLink="/home-log" id="butn">
    <img routerLink="/home-log" src="assets/icons/undo_15093184.png" width="40px">
    <b routerLink="/home-log">Voltar</b>
  </div>
  <div id="all-content" *ngFor="let item of user.contatos">

    <div id="left">

      <div id="people">

        <div id="label-people">
            <label for="people"><b>People</b></label>
        </div>

        <div id="contact-people" (click)="contatoSelect(item.contato.nomeUsuario)">
          <div id="contact">
              <img src="assets/icons/account_2040484.png" alt="user" height="30px">
          </div>

          <div id="info">

            <div id="info-separator">
              <div id="name" style="padding-bottom: 5px;margin-top: 5px;">
                  {{item.contato.nomeUsuario}}
              </div>
              <div id="time">
                  <time datetime="">12:12</time>
              </div>
            </div>

            <div id="info-separator2">
              <div id="msg-ntfy">
                <div id="msg-ntfy-MSG">
                    <h5>msg</h5>
                </div>

              </div>
            </div>

          </div>

        </div>

      </div>

    </div>

    <div id="message" >
      <nav style="margin-bottom: 10px;" *ngIf="contatoSelecionado == item.contato.nomeUsuario && selecionado">

        <div id="separator">
          <img src="assets/icons/account_2040484.png" alt="" height="45px">

          <div id="name-status">
            <label for="img" style="font-size: 1.5rem;">{{item.contato.nomeUsuario}}</label>
            <h5>status</h5>
          </div>

        </div>

      </nav>

      <main style="overflow: auto;" >

        <div id="chatbox" *ngIf="contatoSelecionado == item.contato.nomeUsuario">
          <div class="other-message" *ngFor="let men of user.mensagensRecebidas" >
              <p>{{men.conteudo}}</p>
              <span>12:00</span>
          </div>

          <div class="my-message" *ngFor="let men of user.mensagensEnviadas">
              <p>{{men.conteudo}}<br><span>12:12</span></p>
          </div>

        </div>

      </main>

      <footer>
        <div id="footer-area">

          <div id="text-container">

            <input type="text" placeholder="Type your mensage here..." style="overflow-wrap: break-word;">
            <!--  -->

          </div>
          <div id="button">
              <button type="button"><img src="assets/icons/1373410.png" alt="" height="35px"></button>
          </div>

        </div>
      </footer>

    </div>

  </div>
</section>
