<section><br>
  <div routerLink="/home-log" id="butn">
    <img routerLink="/home-log" src="assets/icons/undo_15093184.png" width="40px">
    <b routerLink="/home-log">Voltar</b>
  </div>

  <div id="g-c">
    <aside style="margin-left: 2%;">
      <div id="user-content">
        <p>Usuario</p>
        <div id="user-icon"></div>
      </div>
      <div id="let">
        <p>Alterar Minha Senha</p>
        <p>Excluir Minha Conta</p>
      </div>
    </aside>

    <div id="content-ac">
      <div id="c-l">
        <h1 style="padding-bottom: 1%;">Meu Perfil</h1>
        <p style="padding-bottom: 1%;color: rgba(0, 0, 0, 0.582);">Gerencie a sua Conta</p>
        <hr style="background-color: rgb(231, 25, 25);">
      </div>
      <div id="u-c">
        <div style="align-items: end;">
          <label for="nome">Nome de Usuário</label>
          <label for="email">Email</label>
          <label for="cpf">CPF</label>
          <label for="tipo">Tipo de Conta<p style="font-size: 0.8rem;">(Não pode ser alterado)</p></label>
        </div>
        <div>
          <input type="text" id="nome">
          <input type="text" id="email">
          <p id="cpf" style="margin-top: 10px;">***.***.***.**</p>
          <p id="tipo" style="margin-top: 26px;">Usuário</p>
        </div>
      </div>
      <button id="fb" disabled >Gravar Dados</button>
    </div>
  </div>

</section>

