<section>
    <header>
        <nav>
            <img src="/assets/Images/Prancheta 1.png" alt="return" width="200px"> <img src="/assets/Images/account_2040484.png" alt="asdfasf" height="50px">
        </nav>
    </header>
    <main>
        <img src="/assets/Images/undo_15093184.png" alt="" width="35px">
        <h1>Andamento do processo</h1>
        <div id="container-progress-bar">
            <div id="progress-bar">
                <div id="circle1">asdf</div>
                <div id="circle2">asdf</div>
                <div id="circle3">asdfas</div>
            </div>
        </div>
        <a href="">+ Processos</a>
        <label id="container-general-info-preview" for="">
                <textarea name="" id="info-preview">
                    Resumo:
                </textarea>
                <div id="desc-med">
                    <img id="image-med" src="/assets/Images/account_2040484.png" alt="asdfasfd">
                </div>
                <div id="text-med">
                    <p style="color: white;">text</p>
                </div>
        </label>
    </main>
</section>