<section><br>
  <div routerLink="/home-log" id="butn">
    <img routerLink="/home-log" src="assets/icons/undo_15093184.png" width="40px">
    <b routerLink="/home-log">Voltar</b>
  </div>

  <div id="con">
    <aside>
      <div id="user-content">
        <p>Chat IA</p>

      </div>

    </aside>
    <div class="chat-container">
      <div class="chat-header">
        <p>Atenção este chat é uma estimativa se seu caso poderá seguir ou não, <br>
        a escolha final é totalmente Sua</p>
      </div>

      <div class="chat-body">
        <div class="chat-instructions">
          <p>Descreva o seu caso abaixo para análise:</p>
        </div>

        <textarea class="case-description" placeholder="Digite aqui a descrição do seu caso..."></textarea>

        <button class="submit-button">Enviar para Análise</button>
      </div>

      <div class="chat-footer">
        <p>A resposta será fornecida pela Inteligência Artificial.</p>
      </div>
    </div>
  </div>

</section>
