<body>
    <header>
        <nav id="nav-bar">
            <div id="header-logo">
                <img id="imagem" src="/assets/Images/Prancheta 1.png" alt="" width="200px">
            </div>
            <div id="header-a">
                <ul>
                    <li class="nav-item"><a href="**" class="nav-link">Menu</a></li>
                    <li class="nav-item"><a href="**" class="nav-link">Serviços</a></li>
                    <li class="nav-item"><a href="**" class="nav-link">Sobre nós</a></li>
                </ul>
            </div>
            <div id="header-button">
                <button>Login</button>
                <button>Cadastrar</button>
            </div>
        </nav>
    </header>
    <main>
        <div id="main-content">
            <div id="main-text">
                <h1>
                    <p>Pequenos conflitos grandes soluções.</p>
                </h1>
            </div>
            <div id="main-text2">
                <h5>
                    <p>
                        Simplificamos a resolução de disputas
                        para que pequenos
                    </p>
                    <P>
                        problemas não se tornem grandes complicações.
                    </P>
                </h5>
            </div>
            <div id="main-button">
                <button><p>Agendar mediação</p></button>
            </div>
        </div>
            <figure>
                <img id="wing" src="assets/Images/pngwing.com.png" alt="">
            </figure>
    </main>
    <footer></footer>
</body>
