<section>

  <header>
    <img src="assets/Images/Prancheta 1.png" alt="" width="240px">
  </header>

  <main>
    <h1>Bem - Vindo</h1>

    <div class="cad-con">
      <label for="cpf">CPF do Usuario</label>
      <input id="cpf" type="text" placeholder="Digite Seu CPF"/>

      <label for="senha">Digite sua Senha</label>
      <input id="senha" type="text" placeholder="Senha"/>

      <p style="font-size: 0.9rem;">Ainda não Possui uma Conta:
        <u style="cursor: pointer;" routerLink="/cadastro">Clique Aqui</u>
      </p>

      <button class="final-btn">Entrar na Minha Conta</button>
    </div>

  </main>

  <footer>

  </footer>

</section>

