<header>
  <div id="ima">
    <img src="assets/Images/Prancheta 1.png" alt="" width="100%">
  </div>

  <div id="content">
    <img id="fo" routerLink="/noti" style="margin-top: 10px;cursor: pointer;" src="assets/icons/3239958.png" width="35px" height="35px">

    <div id="user-content" (click)="toggleMenu()">
      <p>Usuario</p>
      <div id="user-icon"></div>
    </div>

    <!-- Menu Dropdown -->
    <div id="dropdown-menu" *ngIf="isMenuOpen">
      <a href="#">Dados Da Conta</a>
      <a href="#">Configurações</a>
      <a href="#">Sair</a>
    </div>

  </div>

</header>
