header{
  width: 100%;
  height: 12vh;
  background-color: #e8eaee;
  display: flex;
  justify-content: space-between;
  color: black;
  align-items: center;
}
#ima{
  width: 250px;
  background-color: #131B2B;
  border-radius: 20px;
  height: 90%;
  display: flex;
  justify-content: center;
  margin-left: 2%;
}
#user-icon{
  width: 50px;
  height: 50px;
  background-color: #131B2B;
  border-radius: 100px;
}
#user-content{
  display: flex;
  align-items: center;
  gap:20px;
  margin-right: 50px;
  border-radius: 20px;
  padding: 5px;
  transition: ease all 0.5s;
}
#user-content:hover{
  background-color:rgba(106, 137, 165, 0.692);
  cursor: pointer;
}
#content{
  display: flex;
  gap: 100px;
}
#fo{
  transition: ease all 0.5s;
}
#fo:hover{
  border-radius: 100%;
  background-color:rgba(106, 137, 165, 0.692);
  padding: 6px;
}



#dropdown-menu {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  right: 50px; /* Ajuste a posição conforme necessário */
  top: 70px; /* Ajuste conforme o layout */
  z-index: 1000;
}

#dropdown-menu a {
  text-decoration: none;
  color: #131B2B;
  padding: 10px;
}

#dropdown-menu a:hover {
  background-color: rgb(117, 171, 218);
  border-radius: 5px;
  /* padding: 5px; */
}
