<section>
    <div class="container">
        <a href="#" class="voltar"><img src="/assets/Images/5774594.png" alt=""></a>
        <h1>Sobre nós</h1>
        
        <div class="imagens">
          <div class="imagem-grande">
            <img src="/assets/Images/img1.png" alt="Balança da justiça">
          </div>
          <div class="imagens-pequenas1">
            <img src="/assets/Images/img2.png" alt="Reunião de negócios">
            <img src="/assets/Images/img3.png" alt="Pessoa escrevendo">
          </div>
        </div>
        
        <div class="texto-container">
          <div class="texto-item">
            <span class="check-icon">✓</span>
            <p>Aliamos experiência jurídica com inovação tecnológica para transformar a maneira como conflitos são resolvidos, de forma ágil e eficaz.</p>
          </div>
          <div class="texto-item">
            <span class="check-icon">✓</span>
            <p>Atuamos com ética e transparência em todas as etapas do processo, garantindo que cada decisão seja tomada com responsabilidade e clareza.</p>
          </div>
          <div class="texto-item">
            <span class="check-icon">✓</span>
            <p>Nossa missão é tornar a resolução de conflitos acessível a todos, com um serviço inclusivo e simplificado para quem busca justiça.</p>
          </div>
        </div>
      </div>
    </section>
