<section>
    <header>
        <nav id="nav">
            <div class="logo">
                <img src="/assets/Images/Prancheta 1.png" alt="">
            </div>

            <div id = "nav-user">
                <img src="/assets/Images/74472.png" alt="user-icon">
                <span>Usuario</span>
            </div>
        </nav>
    </header>

    <main>
        <div id="butn">
            <img routerLink="/home-log" src="assets/icons/undo_15093184.png" width="40px">
            <b routerLink="/home-log">Voltar</b>
          </div>
        <div id="main-content">
                <samp id="text-main">
                Você Ainda Não Possui Processos Abertos e/ou Finalizados.
                </samp>
        </div>
    </main>
</section>